<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Confirmação de pedido</title>
	<style>
		@media screen and (max-width: 600px) {
			.container {
				width: 100% !important;
			}

			p {
				font-size: 16px;
			}
		}
    </style>
</head>
<body style="margin: 0; padding: 0; background-color: #f4f4f4;">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color: #f4f4f4;">
		<tr>
			<td align="center">
				<table class="container" width="600" border="0" cellspacing="0" cellpadding="0" style="background-color: #f4f4f4; margin-top: 20px; margin-bottom: 20px;">
						
					<tr>
						<td align="center" style="padding: 20px 0;">
							<img src={{LOGO_CONECTAR}} alt="Logo Conéctar Hortifruti" width="150">
						</td>
					</tr>

					<tr>
						<td style="padding: 10px 20px; font-family: Arial, sans-serif; color: #333333;">
							<h1 align="center" style="font-size: 28px; color: #0BC07D; margin-top: 0;">Confirmação de Pedido</h1>
							<p style="font-size: 18px;">Olá, {{NOME_USUARIO}}!</p>
							<p style="font-size: 18px;">O seu pedido {{NUMERO_PEDIDO}} foi confirmado! Seguem as informações:</p>
						</td>
					</tr>

					<tr>
						<td align="center">
							<table width="500" border="0" cellspacing="0" cellpadding="0" style="padding: 8px; margin: 20px 12px; border: solid 1px #000000; border-radius: 12px;">
								<tr>
									<td style="font-size: 18px;font-family: Arial, sans-serif;">
										<p>Número do pedido: {{NUMERO_PEDIDO}}</p>
										<p>Data do pedido: {{DATA_PEDIDO}}</p>
										<p>Horário de entrega: {{HORARIO_ENTREGA}}</p>
										<p>Valor do pedido: R${{VALOR_PEDIDO}}</p>
										<p>Fornecedor: {{NOME_FORNECEDOR}}</p>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					
					<tr>
						<td style="padding: 10px 20px; font-size: 18px; font-family: Arial, sans-serif;">
							<p>Seguem em anexo o recibo e o boleto do seu pedido.</p>
							<p>A Conéctar agradece a preferência e lhe deseja uma ótima tarde!</p>
							<span style="padding: 10px 0; font-size: 14px; font-family: Arial, sans-serif; color: #888888;">#juntossomosmaiores</span>
						</td>
					</tr>

				</table>
			</td>
		</tr>
	</table>

</body>
</html>